$fonts-path: '../assets/fonts/';

@mixin font-face($name, $folder:'', $extension:'.ttf', $type:'truetype') {
  @font-face {
    font-family: $name;
    src: url($fonts-path + $folder + '/' + $name + $extension) format($type);
    font-style: normal;
    font-weight: normal;
  }
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../assets/fonts/Roboto-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@include font-face('Roboto-Regular');
//@include font-face('Roboto-Black');
//@include font-face('Roboto-BlackItalic');
//@include font-face('Roboto-Bold');
//@include font-face('Roboto-BoldItalic');
//@include font-face('Roboto-Italic');
//@include font-face('Roboto-Light');
//@include font-face('Roboto-LightItalic');
//@include font-face('Roboto-Medium');
//@include font-face('Roboto-MediumItalic');
//@include font-face('Roboto-Regular');
//@include font-face('Roboto-ThinItalic');

$font-size-body: 18px;

@mixin font($family, $size: $font-size-body) {
  font-family: $family, sans-serif;
  font-size: $size;
}
