//@import 'bootstrap/scss/bootstrap-reboot.scss';
@import "fonts";

body {
  background-color: #008000;
  background-image: url('~assets/images/1.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 98vh;
  display: flex;

  @include font('Roboto-Regular');
}
